.AlbumPage {
  margin: 20px 10px  30px;
}
.AlbumPage img {
  height: 20vh;
}

.information {
  display: flex;
}

.groupimg {
  margin-right: 20px;
}

.text h1 {
  margin-bottom: 5px;
}

.text p {
  margin-bottom: 2px;
}

.AlbumPage h3 {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
}

.AlbumPage th,td {
 padding-right: 20px;
}

.AlbumPage th {
 padding-bottom: 5px; 
}

.AlbumPage td {
  font-size: 0.9em;
}

.AlbumPage th:nth-child(1) {
  width: 12vw;
}

.AlbumPage th:nth-child(2) {
  width: 80vw;
}

.AlbumPage th:nth-last-child(1) {
  width: 8vw;
}

@media (max-width: 768px) {
  .AlbumPage {
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 3px;
  }
  .AlbumPage img {
    height: 15vh;
  }
  .text h1 {
    margin-bottom: 5px;
    font-size: 1em;
  }

  .AlbumPage h3  {
    font-size: 0.9em;
    margin-top: 20px;
    padding-top: 5px;
  }

  .text p {
    margin-bottom: 2px;
    font-size: 0.8em;
  }

  .AlbumPage td {
    font-size: 0.7em;
  }

  .AlbumPage th {
    font-size: 0.7em;
  }
  .AlbumPage th:nth-child(1) {
    width: 20vw;
 }

  .AlbumPage th:nth-child(2) {
    width: 75vw;
  }

  .AlbumPage th:nth-last-child(1) {
    width: 10vw;
  }

  
}