.container {
  height: 50vh;
  margin-top: 20px;
  background-color: #EAECEE;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  box-sizing: border-box;
}

.Carousel{
  box-sizing: border-box; 
  overflow: visible;
  width: 50vw;
  position: relative;
}

.box > img {
  margin: 0;
  width: 50vw;;
  height: 40vh;
}

@media (max-width: 768px) {
  .container {  
    height: 50vh;
  }

  .Carousel {
    height: 50vh; /* 모바일에서는 약간 더 크게 */
    margin-top: 70px;
  }

}