.Header {
  background: lightgrey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 10px 20px;
}

.home-logo {
  padding-left: 45px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  width: 75%;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header img {
  margin: 5px;
  height: 35px;
}

.nav-menu img {
  height: 35px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(242, 239, 239,0.9);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav.open {
    display: flex;
    left: 55px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-menu li {
    margin: 10px 0;
  }
}