.PlayList .inventory-name h3 {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.PlayList .inventory-name th,td {
 padding-right: 20px;
}

.PlayList .inventory-name th {
 padding-bottom: 5px; 
}

@media (max-width: 768px) {
  .PlayList .inventory-name h3  {
    font-size: 0.9em;
    margin-top: 20px;
  }
  .PlayList .inventory-name th {
    font-size: 0.7em;
  }
  .PlayList .inventory-name td {
    font-size: 0.5em;
  }
}