.Profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

a{
  color: black
}

.member-box {
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}

.member-box img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  aspect-ratio: 3/4; /* Aspect Ratio(종횡비)는 요소의 크기를 비율대로 조정할 수 있게 함. */
  border-radius: 6px;
}

.member-box h3 {
  font-size: 1rem;
  margin: 5px 0;
}

.member-box p {
  font-size: 0.9rem;
  margin: 2px 0;
}

@media (max-width: 768px) {
  .Profile {
    grid-template-columns: repeat(3, 1fr); /* 모바일: 3개씩 한 줄 */
  }
}