.Schedule {
  display: flex;
  gap: 10px;
  .fc {
    width: 100%;
    font-size: 0.8em;
  }

  /* 일요일 날짜: 빨간색 */
  .fc-day-sun a {
    color:  #f04444;
  }
    
  /* 토요일 날짜: 파란색 */
  .fc-day-sat a {
      color: #4b4bf7;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
  }
  .fc-daygrid-day-number {
    font-size: 0.7em; 
  }
  
  .fc-list-event-time {
    display: none;
  }
  .fc-list-event-title {
    font-size: 12px;
  }
  .fc .fc-list-day-text {
    font-size: 12px;

  }
}

@media (max-width: 768px) {
  .Schedule  {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    .fc {
      width: 90%;
      font-size: 0.5em;
    }

    .fc-toolbar-title {
      font-size: 0.9em;
    }
    .fc-today-button {
      font-size: 0.7em;
    }
    .fc-next-button .fc-prev-button {
      font-size: 0.5em; 
    }

    .fc-list-event-title {
      font-size: 9px;
    }
    .fc .fc-list-day-text {
      font-size: 10px;
    }

    .Schedule > * {
      margin: 0;
      padding: 0;
    }

    .month {
      margin-left: 15px;
      margin-right: -25px;
    }
  }
  
}
